---

import { Image } from 'astro:assets';
import Pill from './pill.astro'
import Softskills from './softskills.astro'
import ProfileImage from './../../public/assets/images/profile.jpg'
import { t } from "i18next";
import { Trans } from 'astro-i18next/components';

---

<section id="about" class="w-full px-10 mb-12 lg:mb-32 md:px-0 md:w-2/3 lg:w-3/4 xl:w-2/3 flex flex-col md:flex-row gap-12">
    <Image 
        src={ ProfileImage }
        alt=""
        draggable="false"
        class="w-16 md:w-60 rounded object-contain self-start bg-red-500"
    />

    <article class="flex flex-1 flex-col gap-2">
        <h2 class="text-5xl font-bold pb-3">
            <Trans i18nKey='components.about.title'>
                Sobre <span class="underline underline-offset-3 decoration-8 decoration-blue-600">mí</span>
            </Trans>
        </h2>
    
        <p class="text-gray-400">
            { t('components.about.content') }
        </p>

        <section class="mt-3 flex items-center gap-3">
            <Pill id="cv" ball="bg-indigo-500 group-hover:bg-indigo-700 transition-all" box="bg-indigo-500/10 group border-indigo-500 cursor-pointer select-none hover:border-indigo-700 transition-all">
                { t('components.about.download_cv') }
            </Pill>

            <Pill id="contact" ball="bg-yellow-500 group-hover:bg-yellow-700 transition-all" box="bg-yellow-500/10 group border-yellow-500 cursor-pointer select-none hover:border-yellow-700 transition-all">
                { t('components.about.contact_me') }
            </Pill>
        </section>

        <div class="hidden lg:flex">
            <Softskills />
        </div>
    </article>
</section>

<div class="flex lg:hidden w-full md:w-2/3 mb-32 px-10 md:px-0 md:mb-32">
    <Softskills />
</div>

<script>
    // @ Download CV
    const $cv = document.getElementById('cv'); 

    $cv.addEventListener('click', () => window.open('assets/cv.pdf'))

    // @ Mail
    const $contact = document.getElementById('contact'); 

    $contact.addEventListener('click', () => window.open('mailto:xmcampos@outlook.com'))
</script>