---

import Linkedin from './../components/icons/linkedin.astro'
import Github from './../components/icons/github.astro'
import Email from './../lib/resend'

await Email()

---

<section id="stack" class="w-full px-10 md:px-0 md:w-2/3 lg:w-3/4 xl:w-2/3 flex flex-col gap-2">
    <div class="h-2 w-32 bg-blue-600"></div>

    <h2 class="text-5xl font-bold py-3">
        Contáctame
    </h2>

    <div class="flex items-start gap-7 flex-col lg:flex-row">
        <article class="flex-1 flex flex-col gap-5 mb-10 lg:mb-0">
            <p class="text-gray-400">
                En caso de querer contactar conmigo puedes rellenar este formulario, con 3 simples campos me pondré en contacto contigo con la mayor brevedad posible. En cualquiera de los casos, ¡te dejo otros medios de contacto desde los que podrás encontrarme!
            </p>

            <div class="flex items-center gap-4">
                <Linkedin />
                <Github />
            </div>
        </article>

        <form 
            class="w-full lg:w-1/2 flex flex-col gap-8"
        >
            <label class="flex flex-col gap-3">
                <p>
                    Nombre <span class="text-yellow-500">*</span>
                </p>

                <input
                    type="text"
                    class="border bg-transparent p-3 rounded-sm"
                    placeholder="Introduce tu nombre"
                />
            </label>

            <label class="flex flex-col gap-3">
                <p>
                    Dirección de correo <span class="text-yellow-500">*</span>
                </p>

                <input
                    type="email"
                    class="border bg-transparent p-3 rounded-sm"
                    placeholder="Introduce tu correo"
                />
            </label>

            <label class="flex flex-col gap-3">
                <p>
                    Motivo
                </p>

                <textarea class="border bg-transparent p-3 rounded-sm" placeholder="..."></textarea>
            </label>

            <button type="submit" class="p-3 border bg-blue-600 border-blue-600 hover:opacity-90 transition-all text-white rounded-sm">
                Enviar
            </button>
        </form>
    </div>
</section>

<style>
    input:focus {
        outline: none;
        ring: 0;
    }

    textarea:focus {
        outline: none;
        ring: 0;
    }
</style>