---

import Linkedin from './../components/icons/linkedin.astro'
import Github from './../components/icons/github.astro'
import Email from './../lib/resend'
import { t } from 'i18next'

if(Astro.request.method === 'POST') {
    try {
        const data = await Astro.request.formData(); 

        const name = data.get('name') as string
        const email = data.get('email') as string
        const reason = data.get('reason') as string

        if(name && email && reason) await Email(name, email, reason);
    } catch (error) {
        console.log(error)
    }
}

---

<section id="contact" class="w-full px-10 md:px-0 md:w-2/3 lg:w-3/4 xl:w-2/3 flex flex-col gap-2">
    <div class="h-2 w-32 bg-blue-600"></div>

    <h2 class="text-5xl font-bold py-3">
        { t('components.contact.title') }
    </h2>

    <div class="flex items-start gap-7 flex-col lg:flex-row">
        <article class="flex-1 flex flex-col gap-5 mb-10 lg:mb-0">
            <p class="text-gray-400">
                { t('components.contact.description') }
            </p>

            <div class="flex items-center gap-4">
                <Linkedin />
                <Github />
            </div>
        </article>

        <form 
            class="w-full lg:w-1/2 flex flex-col gap-8"
            method="POST"
            onsubmit="event.preventDefault()"
        >
            <label class="flex flex-col gap-3">
                <p>
                    { t('components.contact.form.name') } <span class="text-yellow-500">*</span>
                </p>

                <input
                    type="text"
                    class="border bg-transparent p-3 rounded-sm"
                    placeholder={ t('components.contact.form.placeholder_name') }
                    name="name"
                />
            </label>

            <label class="flex flex-col gap-3">
                <p>
                    { t('components.contact.form.email') } <span class="text-yellow-500">*</span>
                </p>

                <input
                    type="email"
                    class="border bg-transparent p-3 rounded-sm"
                    placeholder={ t('components.contact.form.placeholder_email') }
                    name="email"
                />
            </label>

            <label class="flex flex-col gap-3">
                <p>
                    { t('components.contact.form.reason') }
                </p>

                <textarea class="border bg-transparent p-3 rounded-sm" name="reason" placeholder="..."></textarea>
            </label>

            <button type="submit" class="p-3 border bg-blue-600 border-blue-600 hover:opacity-90 transition-all text-white rounded-sm">
                { t('components.contact.form.submit') }
            </button>
        </form>
    </div>
</section>

<style>
    input:focus {
        outline: none;
        ring: 0;
    }

    textarea:focus {
        outline: none;
        ring: 0;
    }
</style>