---

import { LanguageSelector } from "astro-i18next/components"; 
import { t } from "i18next";

---

<nav class="flex items-center p-4 w-full">
    <!-- @ Left section -->
    <section id="name" class="flex items-center flex-1 lg:w-1/4 gap-4">
        <img 
            src="https://cdn-icons-png.freepik.com/512/5338/5338322.png"
            alt="logo"
            width="35"
        />

        <h1>Xavier Morell</h1>
    </section>

    <!-- @ Url section -->
    <ul id="urls" class="hidden lg:flex items-center justify-center w-2/4 gap-6">
        <li><a data-target="about" class="hover:text-emerald-400 transition-all">{ t('components.header.urls.about') }</a></li>
        <li><a data-target="experience" class="hover:text-emerald-400 transition-all">{ t('components.header.urls.experience') }</a></li>
        <li><a data-target="projects" class="hover:text-emerald-400 transition-all">{ t('components.header.urls.projects') }</a></li>
        <li><a data-target="skills" class="hover:text-emerald-400 transition-all">{ t('components.header.urls.skills') }</a></li>
        <li><a data-target="contact" class="hover:text-emerald-400 transition-all">{ t('components.header.urls.contact') }</a></li> 
    </ul>

    <!-- @ Right section -->
    <section class="hidden w-1/4 lg:flex justify-end gap-4">
        <LanguageSelector showFlag={ true } class="bg-transparent" />
    </section>

    <!-- @ Mobile section -->
    <section id="mobile-action" class="flex lg:hidden flex-1 justify-end">
        <button>
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                class="h-6 w-6" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke="currentColor"
            >
                <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M4 6h16M4 12h16m-7 6h7"
                />
            </svg>
        </button>
    </section>
</nav>