---

import Linkedin from './icons/linkedin.astro'

---

<nav class="flex items-center p-4 justify-between">
    <!-- @ Left section -->
    <section class="flex items-center gap-4">
        <img 
            src="https://cdn-icons-png.freepik.com/512/5338/5338322.png"
            alt="logo"
            width="35"
        />

        <h1>Xavier Morell</h1>
    </section>

    <ul class="flex items-center gap-6">
        <li><a href="#">Sobre mí</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <!-- @ Right section -->
    <section>
        <Linkedin />
    </section>
</nav>