---

import Linkedin from './icons/linkedin.astro'



---

<nav class="flex items-center p-4 w-full">
    <!-- @ Left section -->
    <section id="name" class="flex items-center flex-1 lg:w-1/4 gap-4">
        <img 
            src="https://cdn-icons-png.freepik.com/512/5338/5338322.png"
            alt="logo"
            width="35"
        />

        <h1>Xavier Morell</h1>
    </section>

    <!-- @ Url section -->
    <ul id="urls" class="hidden lg:flex items-center justify-center w-2/4 gap-6">
        <li><a href="#">Sobre mí</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <!-- @ Right section -->
    <section class="hidden w-1/4 lg:flex justify-end">
        <Linkedin />
    </section>

    <!-- @ Mobile section -->
    <section id="mobile-action" class="flex lg:hidden flex-1 justify-end">
        <button>
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                class="h-6 w-6" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke="currentColor"
            >
                <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M4 6h16M4 12h16m-7 6h7"
                />
            </svg>
        </button>
    </section>
</nav>