---
import Laravel from "./icons/laravel.astro";
import Nextjs from "./icons/nextjs.astro";
import Tailwindcss from "./icons/tailwindcss.astro";
import Typescript from "./icons/typescript.astro";
import Pill from "./pill.astro";
import PortalEmpresarial from './../../public/assets/images/portal-empresarial.png'
import Pearly from './../../public/assets/images/pearly.es.png'
import Luckcommunity from './../../public/assets/images/luckcommunity.png'
import Wevvi from './../../public/assets/images/wevvi.es.png'
import { Image } from "astro:assets";
import { t } from 'i18next'
import { Trans } from "astro-i18next/components";
import Javascript from "./icons/javascript.astro";
import Jquery from "./icons/jquery.astro";
import Mysql from "./icons/mysql.astro";
import Postgres from "./icons/postgres.astro";


const status = {
    done: {
        label: t('components.projects.status.done'), 
        ball: "bg-green-500 group-hover:bg-green-700 transition-all",
        box: "bg-green-500/10 group border-green-500 cursor-pointer select-none hover:border-green-700 transition-all"
    }, 
    working_on: {
        label: t('components.projects.status.working_on'), 
        ball: "bg-orange-500 group-hover:bg-orange-700 transition-all",
        box: "bg-orange-500/10 group border-orange-500 cursor-pointer select-none hover:border-orange-700 transition-all"
    }
}

const projects = [
    {
        "label": t('components.projects.elements.portal.title'), 
        "image": PortalEmpresarial,
        "status": status.done,
        "tags": [Laravel, Tailwindcss, Mysql], 
        "description": t('components.projects.elements.portal.description'),
        "url": "https://portalempresarial.alumnes-monlau.com", 
        "code": "https://github.com/Xavimc04/company-simulator"
    },
    {
        "label": t('components.projects.elements.pearly.title'), 
        "image": Pearly,
        "status": status.done,
        "tags": [Javascript, Jquery], 
        "description": t('components.projects.elements.pearly.description')
    },
    {
        "label": t('components.projects.elements.luckcommunity.title'), 
        "image": Luckcommunity,
        "status": status.done,
        "tags": [Nextjs, Tailwindcss, Typescript, Postgres], 
        "description": t('components.projects.elements.luckcommunity.description'),
        "url": "https://luckccommunity.es", 
        "code": "https://github.com/Xavimc04/cfx-server-manager"
    },
    {
        "label": t('components.projects.elements.wevvi.title'), 
        "image": Wevvi,
        "status": status.working_on,
        "tags": [Nextjs, Tailwindcss, Typescript, Postgres], 
        "description": t('components.projects.elements.wevvi.description'),
        "url": "https://wevvi.es", 
        "code": "https://github.com/Xavimc04/wevvi.es"
    },
]

---

<section id="projects" class="w-full px-10 md:px-0 md:w-2/3 lg:w-3/4 xl:w-2/3 flex flex-col gap-2 mb-32">
    <h2 class="text-5xl font-bold py-3">
        <Trans i18nKey="components.projects.title">
            Proyectos <span class="underline underline-offset-3 decoration-8 decoration-blue-600">personales</span>
        </Trans>
    </h2>

    <p class="text-gray-400">
        { t('components.projects.description') }
    </p>

    <div class="mt-5 flex flex-col gap-7">
        {
            projects.map(project => {
                const {
                    label, status, tags, description, url, code, image
                } = project; 

                return <article class="flex flex-col lg:flex-row items-start gap-7 mt-10 lg:mt-0">
                    <Image 
                        src={ image }
                        alt={ label }
                        class="w-full lg:w-1/3 rounded cursor-pointer"
                    />    

                    <section class="flex flex-col flex-1 gap-3">
                        <div class="flex items-center gap-3">
                            <h3 class="font-bold text-2xl">
                                { label }
                            </h3>

                            <Pill ball={ status.ball } box={ status.box }>
                                { status.label }
                            </Pill>
                        </div>

                        <div class="flex items-center gap-4 my-3">
                            {
                                tags.map(Tag => {
                                    return <Tag width="30px" height="30px" />
                                })
                            }    
                        </div>

                        <p class="text-gray-400">
                            { description }
                        </p>

                        <div class="flex items-center gap-4">
                            {
                                url && <a href={ url } target="_blank" class="text-blue-500 hover:underline">
                                    { t('components.projects.actions.url') }
                                </a>
                            }

                            {
                                code && <a href={ code } target="_blank" class="text-blue-500 hover:underline">
                                    { t('components.projects.actions.source') }
                                </a>
                            }
                        </div>
                    </section>
                </article>
            })
        }
    </div>
</section>