---

import { t } from "i18next";

const skills = [
    {
        "label": t('components.softskills.comunication.title'),
        "content": t('components.softskills.comunication.content')
    },
    {
        "label": t('components.softskills.teamwork.title'),
        "content": t('components.softskills.teamwork.content')
    },
    {
        "label": t('components.softskills.problem_solving.title'),
        "content": t('components.softskills.problem_solving.content')
    },
    {
        "label": t('components.softskills.creativity.title'),
        "content": t('components.softskills.creativity.content')
    },
    {
        "label": t('components.softskills.critical_thinking.title'),
        "content": t('components.softskills.critical_thinking.content')
    }
]

---

<section id="skills" class="mt-10 flex flex-col gap-6">
    {
        skills.map(skill => {
            const {
                label, content
            } = skill; 

            return <details name="skills flex flex-col gap-4 [&_svg]:open:-rotate-180">
                <summary class="text-xl cursor-pointer transition-all list-none flex gap-4 items-center">
                    <div> 
                        <svg class="rotate-0 transform text-orange-500 transition-all duration-300" fill="none" height="20" width="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </div>

                    { label }
                </summary>
                
                <p class="text-gray-400 mt-5">
                    { content }
                </p>  
            </details>
        })
    }
</section>