---

---

<section id="stack" class="w-full px-10 mb-32 md:px-0 md:w-2/3 lg:w-3/4 xl:w-2/3 flex flex-col gap-2">
    <h2 class="text-5xl font-bold py-3">
        Skills <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Persona</span>les
    </h2>

    <p class="text-gray-400">
        Estas son parte las tecnologías, lenguajes y frameworks que mas he consumido durante mis años de experiencia. 
    </p>
</section>