---

import Javascript from './icons/javascript.astro'
import Laravel from './icons/laravel.astro'
import Nextjs from './icons/nextjs.astro'
import Nodejs from './icons/nodejs.astro'
import React from './icons/react.astro'
import Tailwind from './icons/tailwindcss.astro'
import Jquery from './icons/jquery.astro'
import Lua from './icons/lua.astro'
import MySQL from './icons/mysql.astro'
import Postgres from './icons/postgres.astro'
import Typescript from './icons/typescript.astro'

---

<section id="stack" class="w-full px-10 md:px-0 md:w-2/3 lg:w-3/4 xl:w-2/3 flex flex-col gap-2 mb-32">
    <h2 class="text-5xl font-bold py-3">
        Tecnologías y Frame<span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">works</span>
    </h2>

    <p class="text-gray-400">
        Estas son parte las tecnologías, lenguajes y frameworks que mas he consumido durante mis años de experiencia. 
    </p>

    <section class="flex gap-7 justify-center lg:justify-start flex-wrap mt-14 py-16 lg:bg-gradient-to-r from-transparent via-slate-900 to-transparent">
        <Javascript />
        <Laravel />
        <Nextjs />
        <React />
        <Nodejs />
        <Tailwind />
        <Jquery />
        <Lua />
        <MySQL />
        <Postgres />
        <Typescript />
    </section>
</section>