--- 

import Navigator from "../components/navigator.astro"
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

--- 

<!DOCTYPE html>

<html lang={ i18next.language }>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
        <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" /> 
        <link rel="icon" type="image/x-icon" href="/assets/images/colored-arrows.png">
        <link rel="stylesheet" href="styles.css">
        <title>Xavier Morell | Portfolio</title>

        <HeadHrefLangs />
    </head>

    <body class="text-white flex flex-col min-h-screen items-center mb-20">
        <div class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_0%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>

        <Navigator />

        <slot />
    </body>
</html>